body {
	font-family: var(--font-primary);
	line-height: 1.6;
}

:root {
	--meth-color: #ff0e10;
	--etha-color: #f4e7ee;
	--prop-color: #865eff;
	--buta-color: #fc7a1e;
	--pent-color: #5a397f;
}

/* Ensures the app container spans the entire viewport height */
.app-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* Full viewport height */
}

/* Main content should expand to fill available space */
.app-main {
	flex: 1; /* Takes up all the remaining space */
	padding: 1rem; /* Optional: Adds some padding for layout */
}

/* Hero Section */
#home {
	position: relative;
	background: url("../assets/images/hero-bg.png") center center no-repeat;
	background-size: cover;
	height: 100vh; /* Adjust as needed */
}

#home::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: inherit;
	filter: blur(50px); /* Apply blur to the background */
	z-index: -1; /* Ensure it's behind the content */
}
