:root {
	--primary-color: #66aaff; /* Lighter blue */
	--secondary-color: #00ff89; /* Neon green */
	--background-color: #0a0c0f; /* Darker background for contrast */
	--text-color: #39ffe1; /* Neon cyan */
	--accent-color: #ff00e0; /* Neon pink */
	

	--font-primary: "Raleway", sans-serif;
}

/* Utility Classes */
.bg-primary {
	background-color: var(--primary-color);
}
.bg-secondary {
	background-color: var(--secondary-color);
}
.bg-accent {
	background-color: var(--accent-color);
}
.bg-theme {
	background-color: var(--background-color);
}
.text-theme {
	color: var(--text-color);
}
.text-primary {
	color: var(--primary-color);
}
.text-secondary {
	color: var(--secondary-color);
}
.text-accent {
	color: var(--accent-color);
}

body {
	font-family: var(--font-primary);
	background-color: var(--background-color);
	color: var(--text-color);
}
