:root {
	/* 🚀 Optimized Futuristic Theme */
	--primary-color: #005d9ba0; 
	--secondary-color: #baff12; 
	--background-color: #111827; 
	--text-color: #41ead4; 
	--accent-color: #facc15; 

	--font-primary: "Raleway", sans-serif;
}

/* Utility Classes */
.bg-primary {
	background-color: var(--primary-color);
}
.bg-secondary {
	background-color: var(--secondary-color);
}
.bg-accent {
	background-color: var(--accent-color);
}
.bg-theme {
	background-color: var(--background-color);
}
.text-theme {
	color: var(--text-color);
}
.text-primary {
	color: var(--primary-color);
}
.text-secondary {
	color: var(--secondary-color);
}
.text-accent {
	color: var(--accent-color);
}

body {
	font-family: var(--font-primary);
	background-color: var(--background-color);
	color: var(--text-color);
}
