:root {
	/* Light Theme (Aurora) */
	--primary-color: #87ceeb;
	--secondary-color: #34c759;
	--background-color: #f7f7f7;
	--text-color: #3d3d3d;
	--accent-color: #ffc107;
}

.dark-theme {
	/* Dark Theme (Nebula) */
	--primary-color: #2f4f7f;
	--secondary-color: #66d9ef;
	--background-color: #212121;
	--text-color: #ffffff;
	--accent-color: #ff69b4;
}

/* Utility Classes */
.bg-primary {
	background-color: var(--primary-color);
}
.bg-secondary {
	background-color: var(--secondary-color);
}
.bg-accent {
	background-color: var(--accent-color);
}
.bg-theme {
	background-color: var(--background-color);
}
.text-theme {
	color: var(--text-color);
}
