/* Fonts */
@font-face {
	font-family: "Libre Baskerville";
	src: url("/src/assets/fonts/LibreBaskerville-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Libre Baskerville";
	src: url("/src/assets/fonts/LibreBaskerville-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Libre Baskerville";
	src: url("/src/assets/fonts/LibreBaskerville-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

/* Footer */
.footer {
	background-color: #1a202c; /* Tailwind's gray-900 */
	color: #ffffff; /* White text */
	text-align: center;
	padding: 1rem;
}

.footer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	text-align: center;
}

.footer-text {
	font-size: 0.875rem; /* Tailwind's text-sm */
}

.footer-nav {
	display: flex;
	gap: 1.5rem;
}

.footer-link {
	color: #a0aec0; /* Tailwind's gray-400 */
	text-decoration: none;
	font-size: 0.875rem; /* Tailwind's text-sm */
	transition: color 0.3s ease;
}

.footer-link:hover {
	color: #ffffff; /* Hover effect to white */
}
