:root {
	--color-meth: #ff0e10;
	--color-etha: #f4e7ee;
	--color-prop: #865eff;
	--color-buta: #fc7a1e;
	--color-pent: #5a397f;
}

@layer utilities {
	.bg-meth {
		background-color: var(--color-meth);
	}
	.bg-etha {
		background-color: var(--color-etha);
	}
	.bg-prop {
		background-color: var(--color-prop);
	}
	.bg-buta {
		background-color: var(--color-buta);
	}
	.bg-pent {
		background-color: var(--color-pent);
	}

	.text-meth {
		color: var(--color-meth);
	}
	.text-etha {
		color: var(--color-etha);
	}
	.text-prop {
		color: var(--color-prop);
	}
	.text-buta {
		color: var(--color-buta);
	}
	.text-pent {
		color: var(--color-pent);
	}
}
