---
import "../styles/global.css";
import Nav from "../components/Nav.svelte";
import Footer from "../components/Footer.svelte";
import Hero from "../sections/Hero.svelte";
import About from "../sections/About.svelte";
import WorkExperience from "../sections/WorkExperience.svelte";
import Projects from "../sections/Projects.svelte";
import Contact from "../sections/Contact.svelte";
import Cursor from "../components/Cursor.svelte";
import data from "../data/data.json";
---

<html lang="en">
	<head>
		<title>{data.info.name}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<Cursor client:load />
		<Nav client:load />
		<Hero client:load />
		<About client:load />
		<WorkExperience client:load />
		<Projects client:load />
		<Contact client:load />
		<Footer client:load />
	</body>
</html>
