---
import "../styles/global.css";
import Nav from "../components/Nav.svelte";
import Footer from "../components/Footer.svelte";
import Hero from "../sections/Hero.svelte";
import TechStack from "../sections/TechStack.svelte";
import About from "../sections/About.svelte";
import WorkExperience from "../sections/WorkExperience.svelte";
import Projects from "../sections/Projects.svelte";
import Contact from "../sections/Contact.svelte";
---

<html lang="en">
	<head>
		<title>My Developer Portfolio</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body class="bg-gray-900 text-white">
		<Nav client:load />
		<Hero client:load />
		<TechStack client:visible />
		<About client:visible />
		<WorkExperience client:idle />
		<Projects client:idle />
		<Contact client:idle />
		<Footer client:load />
	</body>
</html>
